<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="shortcut icon" type="image/x-icon" href="/ucdart.ico">
			<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
			<link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css">
		
		<!--	
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/people">People</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<li><a href="/education">Education</a></li>
	        		<li><a href="/resources">Resources</a></li>
				<li><a href="/facility">Facilities</a></li>
	    		</ul>
			</nav>
		-->
		
		</head>
		<body>

			<!-- <div class="container"> -->
			<div class="wrapper">
			<header>
        			<h1>Davis Adaptive RF Technology Lab</h1>
				<p></p>
			<!--
			<nav>
	    		<ul>
	        		<li><a href="/">Home<br></a></li>
	        		<li><a href="/people">People<br></a></li>
		        	<li><a href="/research">Research<br></a></li>
	        		<li><a href="/education">Education<br></a></li>
	        		<li><a href="/resources">Resources<br></a></li>
				<li><a href="/facility">Facilities<br></a></li>
	    		</ul>
			</nav>
			-->
			<p>
				<a href="/">Home</a> | <a href="/people">People | <a href="/research">Research | <a href="/education">Education | <a href="/resources">Resources | <a href="/facility">Facilities | <a href="https://github.com/ucdart">GitHub</a> | <a href="/test.html">Test</a> |
			</p>
			
			<p>
				<a href="/news"><u>News</u></a>
			</p>
			
			<ul>
				{% for post in site.posts limit:4 %}
					{% if post.categories contains 'news' %}
	    				<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  				{% endif %}
	  			{% endfor %}
			</ul>
			
			<p>
	        		<a href="mailto:dart.ucdavis@gmail.com">email</a>
			</p>
			
              <p>
                This website is hosted by Github Pages. This means that all the sources files are open (as in open-source) in a <a href="https://github.com/ucdart/ucdart.github.io.git">Github repository</a> and that you, as a reader, could contribute to the content. All you need to do is to send a pull request. 
              </p>
              
			</header>
      		
      		<section>
				{{ content }}
				
      		</section>
			
			</div><!-- /.wrapper -->
			<!--</div> /.container -->
			<!--
			<footer>

			</footer>
		    	-->
		    	<script src="javascripts/scale.fix.js"></script>
        			 <script type="text/javascript">
            				var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            				document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          			</script>
          		<script type="text/javascript">
            			try {
              				var pageTracker = _gat._getTracker("UA-58268327-1");
            				pageTracker._trackPageview();
            			} catch(err) {}
          		</script>
		</body>
	</html>
