<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- link to Bootstrap stylesheet -->
			<link rel="shortcut icon" type="image/x-icon" href="/ucdart.ico">
			<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
			<link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css">
			<!-- link to Bootstrap scripts -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://use.fontawesome.com/b2e828500b.js"></script>
			<!-- link to Unslider scripts and CSS -->
			<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
			<script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
			<script src="/javascripts/unslider-min.js"></script>
			<link rel="stylesheet" href="/stylesheets/unslider.css">
			<link rel="stylesheet" href="/stylesheets/unslider-dots.css">
			<!-- MathJax support -->
			<!-- {% if page.use_math %} -->
				{% include mathjax_support %}
			<!-- {% endif %} -->
			<!-- Character encoding -->
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		</head>
		<body>

			<!-- <div class="container"> -->
			<div class="wrapper">
			<header>
        			<h1>Davis Advanced RF Technologies Lab</h1>
				<p></p>

			<p class = "view">
              <a href="/">Home</a> | <a href="/people">People</a>-<a href="/people/openings.html">Openings</a> | <a href="/education">Teaching</a> | <a href="/research">Research</a>-<a href="/research/publications.html">Publications</a> | <a href="/education/outreach.html">Outreach</a> | <a href="/facilities">Facilities</a> | <a href="/resources">Resources</a> | <a href="/blog.html">Blog</a> |
			</p>

			<!-- | <a href="/uav">UAV Lab</a> -->

			<h4>
				<a href="/news">News</a>
			</h4>

			<p class = "view">
			{% for post in site.posts limit:6 %}
				{% if post.categories contains 'news' %}
	    			» [{{ post.date | date_to_string }}] » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a><br>
	  			{% endif %}
	  		{% endfor %}
			</p>

			<p class = "view">
	        		<a href="mailto:dart.ucdavis@gmail.com">email</a> |  <a href="https://github.com/ucdart">GitHub</a>
			</p>

            <!--
              <p>
                <small>This website is hosted by Github Pages. This means that all the sources files are open (as in open-source) in a <a href="https://github.com/ucdart/ucdart.github.io.git">Github repository</a>. You can contribute to the content by sending a pull request. </small>
              </p>
            -->
			</header>

      		<section>
				{{ content }}

      		</section>

			</div><!-- /.wrapper -->
			<!--</div> /.container -->

			<!--
			<footer>

			</footer>
		    	-->
		    	<script src="https://ucdart.github.io/javascripts/scale.fix.js"></script>
        			 <script type="text/javascript">
            				var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            				document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          			</script>
          		<script type="text/javascript">
            			try {
              				var pageTracker = _gat._getTracker("UA-58268327-1");
            				pageTracker._trackPageview();
            			} catch(err) {}
          		</script>
		</body>
	</html>
